<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pacientes</ion-title>

    <!-- Botón de perfil del cuidador -->
    <ion-buttons slot="end">
      <ion-button (click)="irPerfil()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let persona of personas" button (click)="verPaciente(persona)" style="border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.1); margin-bottom:10px;">
      <ion-label>
        <h2 style="color:#4a90e2">{{ persona.nombre }}</h2>
        <p>Edad: {{ persona.edad }}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
<ion-button expand="block" color="secondary" shape="round" (click)="agregarPaciente()">
  Agregar Paciente
</ion-button>

</ion-content>
