<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".VitalarmApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:minSdkVersion="31"
        android:targetSdkVersion="36"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:targetApi="36"
        tools:ignore="CredManMissingDal">
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
        <activity
            android:name=".PassResetWaitingActivity"
            android:exported="false" />
        <activity
            android:name=".AbtAppActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmRingingActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".PastAlarmsActivity"
            android:exported="false" />
        <activity
            android:name=".PastAlarmDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PassResetActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PassRecActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LanMenuActivity" />
        <activity android:name=".AddPatsActivity" />
        <activity android:name=".AlarmSumActivity" />
        <activity android:name=".ConfirmAlarmActivity" />
        <activity android:name=".SelectMedActivity" />
        <activity android:name=".AddAlarmActivity" />
        <activity android:name=".AddMedsActivity" />
        <activity android:name=".AlarmListActivity" />
        <activity android:name=".MedsListActivity" />
        <activity android:name=".PatsListActivity" />

        <service
            android:name=".utils.local.AlarmService"
            android:enabled="true"
            android:exported="false" /> <!-- NUEVO: Receptor de alarmas -->
        <receiver
            android:name=".utils.local.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TRIGGER_ALARM" />
                <action android:name="ACTION_PRE_ALARM_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
